[submodule "ERC20-Stake/lib/forge-std"]
	path = ERC20-Stake/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ERC20-Stake/lib/openzeppelin-contracts"]
	path = ERC20-Stake/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
